/********** Base styles **********/
* {box-sizing: border-box;
  font-family: Helvetica;
  font-size: 16px;}

h1 {text-align: center;
  font-size: 175%;}

p {margin: 40px 10px 10px 10px;
  color: black;}

.box {background-color: #9c9c9c;
  border: 1px solid black;
  height: 150px;
  position: relative;
  overflow: auto;}

.subTitle {border: 1px solid black;
  font-size: 125%;
  padding: 4px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  width: 100px;}

/* Simple Responsive Framework. */
.row {width: 100%;
  position: relative;}

#html {background-color: #A52A2A;}

#css {background-color: #DEB887;
  color: white;}

#javascript {background-color: #5F9EA0;}

/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-1 {
    float: left;
    margin-top: 10px;
    padding: 10px;
    width: 33.333%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    float: left;
    margin-top: 10px;
    padding: 10px;
    width: 50%;
  }

  .col-md-full {
    float: left;
    padding: 10px;
  }
}

/********** Mobile **********/
@media (max-width: 767px) {
  .col-sm-1 {
    margin-top: 10px;
    padding: 10px;
  }
}